
body {
    
  min-height: 600px;
  padding-top: 70px;
    background-image:url(../images/grey_@2X.png);
    background-attachment:fixed;
}



.container {
  max-width: none !important;
  width: 970px;
}

/*
.jumbotron {
	background-image: url(../images/background.png);
	padding:0 !important;
	
	
}

.transparent-box {
	background-color: rgba(255,255,255,0.9);
	padding:60px;
	
}
*/



.navbar {
    background-color:white !important;

}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: rgba(220, 220, 250, 0.4) !important;
}

a.navbar-brand {
    color:rgb(248, 111, 159) !important;
    font-weight:;
    text-shadow: 0 1px 0px rgba(0,0,0, 0.0);
    text-transform:uppercase;
    font-size:20px
}






.jumbotron {
    background-color: rgba(0,0,0,0.0);
}
.jumbotron h1 {
    color: #333;
	text-align:center;
    font-weight:900;
    font-size:410%;
    /*text-shadow: 0 0px 5px rgba(0,0,0, 1.0);*/
    
}


.jumbotron h1 span {
    display:block;
    text-align:center;
    margin-top: 30px;
    font-size:137%;   
    font-weight:100;
    color:black;
    text-shadow:none;
}


#teaser div.glyphicon {
    display:block;
    font-size: 1000%;
    width:142px;
    margin:auto;
    
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.99);
    
}


#teaser div.glyphicon-comment {
    color:#47A447;
}

#teaser div.glyphicon-bullhorn {
    color:#39B3D7;
}

#teaser div.glyphicon-envelope {
    color:#D9534F;
}

#teaser a.btn {
    display:block;
}

#teaser h3 {text-align:center;}




article {
    background-color: rgba(0,0,0,0.1); 
    margin-bottom:1.5em;
}
article h3 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
.post-meta {
    color:rgba(255, 89, 172, 0.91);
    margin-bottom:1.5em;  
}
article .caption {
    padding:0 30px 20px 30px;
}
article a.btn {
    float:right;
}


       




.page-header span.glyphicon {
    font-size:30px;
    margin-right:10px
}
 
.page-header span.glyphicon-comment {
    color:#47A447;
}

.page-header span.glyphicon-bullhorn {
    color:#39B3D7;
}

.page-header span.glyphicon-envelope {
    color:#D9534F;
}

.page-header span.glyphicon-info-sign {
    color:#3276B1;
}


.footer {
  padding-top: 9px;
  margin: 20px 0 40px;
  border-top: 1px solid #eeeeee;
}
